/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    /* background-color: gainsboro; */
    background-color: whitesmoke;
    
}

button:focus{
    outline:none;
}

.display-error{
    color:rgba(255, 0, 0, 0.884);
  }
